{% extends 'post/base.html' %}

{% block title %}
Password reset
{% endblock %}

{% block content %}
<div class="container mt-5">
    <form method="post">
        {% csrf_token %}
        <h2>Password change</h2>
        {% for field in form %}
        <div class="row">
            <div class="col-md-6 col-lg-4 gy-2">
                {{field.label_tag}}
                {{field}}
                {% if field.errors %}
                <div class="invalid-feedback d-block">
                    {{ field.errors|striptags }}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary my-3">Change</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </form>
</div>
{% endblock %}
