{% extends "post/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<div class="container mb-5">
    {% if messages %}
    {% for message in messages %}
    {% include 'post/messages.html' with message=message %}
    {% endfor %}
    {% endif %}
    <h2 class="mb-3">Profile Page</h2>
    <div class="row">
        <div class="col-md-5">
            <div class="mb-3">
                <img src="{{ user.profile.avatar.url }}" alt=""
                     class="img-fluid border border-primary border-2 rounded "
                     style="object-fit: cover; object-position: center; width: 150px; height: 150px;">
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    {% for field in profile_form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% for field in user_form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}