{% for comment in comments %}
<div class="row mb-5">
    <div class="col-md-5">
        <div class="d-flex justify-content-between align-items-center">
            <h4>{{ comment.author.username }}</h4>
            {% if comment.author == request.user or request.user.is_superuser %}
            <div class="d-flex">
                <form method="post" action="{% url 'comment_delete' comment.pk %}">
                    {% csrf_token %}
                    <button type="submit"
                            class="btn btn-sm btn-outline-danger ms-2 small-button">
                        <i class="bi bi-trash"></i>
                    </button>
                </form>
                <a class="btn btn-sm btn-outline-primary ms-2 small-button" href="{% url 'comment_edit' comment.pk %}">
                    <i class="bi bi-pencil"></i>
                </a>
            </div>
            {% endif %}
        </div>
        {% if comment.updated_at|date:"d M Y H:i" == comment.created_at|date:"d M Y H:i" %}
        <p class="text-muted">Created: {{ comment.created_at|date:"d M Y H:i" }}</p>
        {% else %}
        <p class="text-muted">Updated: {{ comment.updated_at|date:"d M Y H:i" }}</p>
        {% endif %}
        <hr class="border border-info border-1 opacity-100">
        <p>{{ comment.content|truncatewords:50 }}</p>
    </div>
</div>
{% endfor %}
{% if comments.paginator.num_pages > 1 %}
<div class="d-flex justify-content-center my-5">
    <nav aria-label="pagination">
        <ul class="pagination">
            {% if comments.has_previous %}
            <li class="page-item"><a href="?c={{comments.previous_page_number}}" class="page-link">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="#">Page {{comments.number}} of
                {{comments.paginator.num_pages}}</a></li>
            {% if comments.has_next %}
            <li class="page-item"><a class="page-link" href="?c={{comments.next_page_number}}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}