.profile-avatar{
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 150px;
}

.small-button{
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.comment-add-button{
    width-36px;
    height: 36px;
}

.alert-icon{
    font-size: 20px;
    flex-shrink: 0;
}

.unauthorized-alert{
    min-height: 60px;
}

.close-alert{
    height: 20px;
}

.post-interaction-button{
    min-width: 68px;
    margin-top: 5px;
}

.side-section-element{
    width: 18rem;
}

.oauth-icon{
    font-size: 36px;
}

.post-views-button{
    width: 56px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.post-views-icon{
    margin-right: 5px;
}