{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 30px;">
    {% if success %}
        <h2 class="mb-4">Post was created!</h2>
        <p>To come back click <a href="/">here</a></p>
    {% else %}
        <h2 class="mb-4">Create a new post!</h2>
        <div class="row">
            <div class="col-3">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Create!</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}