{% extends 'post/base.html' %}


{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container my-5">
</div>
{% if messages %}
{% for message in messages %}
{% include 'post/messages.html' with message=message %}
{% endfor%}
{% endif %}
<div class="container my-2 w-60">
    {% for post in posts %}
    {% include 'post/post_card.html' with post=post %}
    {% empty %}
    <h2>No posts yet :(</h2>
    <p>To create a new post click <a href="/post/create">here</a></p>
    {% endfor %}
    {% if posts.paginator.num_pages > 1 %}
    {% include 'post/pagination.html' with page=posts%}
    {% endif %}
</div>
{% endblock %}