<div class="d-flex justify-content-start mb-4">
    <div class="modal fade" id="exampleModal-{{post.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url 'delete' post.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="p-3 w-100">
        <h2>{{ post.title }}</h2>
        {% if post.tags.all %}
        <h5>Tags:
            {% for tag in post.tags.all %}
            <a href="/?tag={{tag}}"><span class="badge text-bg-success">{{tag}}</span></a>
            {% endfor %}
        </h5>
        {% endif %}
        <p class="text-muted mt-2">Created: {{ post.created_at }}</p>
        <hr class="border border-primary border-1 opacity-100">
        <p class="mt-2">{{post.content|truncatewords:80}}</p>
        <div class="row g-2">
            <div class="col-12 col-lg-1">
                <a href="{{post.get_absolute_url}}" class="btn btn-primary w-100" style="min-width: 68px;">Read</a>
            </div>
            <div class="col-12 col-lg-1">
                <a href="{% url 'edit' post.slug %}" class="btn btn-primary w-100" style="min-width: 68px;">Edit</a>
            </div>
            <div class="col-12 col-lg-1">
                <button class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#exampleModal-{{post.pk}}"
                        style="min-width: 68px;">Delete
                </button>
            </div>
        </div>
    </div>
</div>